In [ ]:
print("Stelios")
print("London")
print("Hi","there")
print("Hi there")
print(10)
print("Number is",5.5)

Stelios
London
Hi there
Hi there
10
Number is 5.5

In [ ]:
print((3*12+5)/23)

1.7826086956521738

In [ ]:
input("Enter a name: ")
input("Enter a city: ")
input()

dfd

'dfd'

In [ ]:
name = input("Enter your name: ")
city = input("Enter a city: ")

print("Hello",name,"from",city)

Enter your name: Stelios
Enter a city: London
Hello Stelios from London

In [ ]:
x = 10
print(x*3)

30

Exercise:

Ask the user to enter their name, tel num and city.

Print in the followin form:

Stelios from Paris tel is: 343434343

In [ ]:
name = input("Enter your name: ")
city = input("Enter your city: ")
tel = input("Enter your tel number")

print(name,"from",city,"tel is",tel)

Enter your name: Stelios
Enter your city: London
Enter your tel number234234234
Stelios from London tel is 234234234

In [ ]:
print("Stelios"+"1")

Stelios1

In [ ]:
print("Stelios"*3)

SteliosSteliosStelios

In [ ]:
age = int(input("How old are you? "))
print(age*3)

How old are you? 20
60

Exercise

Ask the user to give you two numbes, one after the other.
Print the addition of numbers.

5
6
11

In [ ]:
x = float(input("Enter a number: "))
y = float(input("Enter a number: "))
print(x/y)

Enter a number: 7
Enter a number: 0

ZeroDivisionError: float division by zero

In [ ]:
x = int(input("Enter a number: "))
y = int(input("Enter a number: "))

if y==0:
  print("I cannot divide by zero")
  print("You are stupid!")
else:
  print(x/y)

Enter a number: 5
Enter a number: 3
1.6666666666666667

Ask the user to enter two integer numbers.
Print the largest number

5
12
Max is 12

In [ ]:
x = int(input("Enter a number: "))
y = int(input("Enter a number: "))

if x>y:
  print("Max is",x)
else:
  print("Max is",y)

Enter a number: 545
Enter a number: 4
Max is 545

In [ ]:
x = int(input("Enter a number: "))

if x>0:
  print("Positive")
elif x==0:
  print("Zero")
else:
  print("Negative")

Enter a number: -56
Negative

In [ ]:
x = int(input("Enter a number: "))

if x>=0 and x<=10:
  print("number between 0 and 10")
else:
  print("Something else...")

Enter a number: 10
Something else...

In [ ]:
score = int(input("Enter a number: "))

if score>=0 and score<10:
  print("Fail")
elif score>=10 and score<15:
  print("Pass")
elif score>=15 and score<=20:
  print("Distinction")
else:
  print("error")

Enter a number: 20
Distinction